* {
    margin: 0;
    padding: 0;
    font-family: 'Sono', cursive;
}

body {
    background-color: #12181B;
    text-align:center;
}
#reset {
    background-color: #ff3860;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
    margin-bottom: 1rem;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    color:white;
    font-size:2rem;
}

h1 {
    padding-bottom:1rem;
}
